{%extends 'home.html'%}
{%block content%}
<html>
    <div class="container">
   <head>
        <h1 class="text-center alert-success"> Student Entry Form</h1>
        <style>
        td,select{
            width: 25%;
            text-align: left;
            vertical-align: middle;
            height: 55px;
            display: table-cell;
            font-size: 20;
        }
        input{
            font-size: xx-large;
            height: 55px;
        }
        span{
            color: red;
        }
        </style>

    </head>
    <body>
        <!--<div class="d-flex justify-content-center">-->
        <form id="first_form" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <table class="table table-bordered">
            <tr>
                <th colspan="4"><h3 class="text-left" style="text-decoration: underline;">Student Basic Information</h3></th>
            </tr>
            <tr>
                <td><label for="name" class="form-label">Student Name: </label></td>
                <td><input size="4" type="text" name="name" id="name" class="form-control" required></td>
                <td><label for="fathername" class="form-label">Father Name: </label></td>
                <td><input size="4" type="text" name="fathername" id="fathername" class="form-control" required></td>
            </tr>
            <tr>
                <td><label for="dob" class="form-label">Date of Birth: </label></td>
                <td><input size="4" type="date" name="dob" id="dob" class="form-control" required></td>
                <td><label for="ac" class="form-label">Academic Year: </label></td>
                <td><select name="ac" id="ac" class="form-select" required>
                    <option value="">select</option>
                    <option value="2021-2022">2021-2022</option>
                    <option value="2022-2023">2022-2023</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="year" class="form-label">Year: </label></td>
                <td><select name="year" id="year" class="form-select" required>
                    <option value="">select</option>
                    <option value="I Year">I Year</option>
                    <option value="II Year">II Year</option>
                    </select>
                </td>
                <td><label for="group" class="form-label">Group: </label></td>
                <td><select name="group" id="group" class="form-select" required>
                    <option value="">select</option>
                    <option value="MPC">MPC</option>
                    <option value="BPC">BPC</option>
                    <option value="MEC">MEC</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="address" class="form-label">Address: </label></td>
                <td><input size="4" type="text" name="address" id="address" class="form-control" required></td>
            </tr>
        </table>
        <input type="submit" id="submitbutton" value="Submit" class="btn btn-success">
        <input type="reset" value="Reset" class="btn btn-danger">
    </form>
    <!--
    <script>
        $(document).ready (function () {  
         $('#first_form').submit(function (e) {  
            e.preventDefault();  
            var name = $('#name').val();  
            var fathername = $('#fathername').val();  
            var dob = $('#dob').val();  
            var ac = $('#ac').val();
            var year = $('#year').val();
            var group = $('#group').val();
            var address = $('#address').val();
            console.log(name);
            $(".error").remove();
        if (name.length < 1) {  
              $('#name').after('<span class="error">This field is required</span>');  
            }  
        if (fathername.length < 1) {  
              $('#fathername').after('<span class="error">This field is required</span>');  
            }  
            if (dob.length < 1) {  
              $('#dob').after('<span class="error">This field is required</span>');  
            }  
            if (ac.length < 1) {  
              $('#ac').after('<span class="error">This field is required</span>');  
            } 
            if (year.length < 1) {  
              $('#year').after('<span class="error">This field is required</span>');  
            }
            if (group.length < 1) {  
              $('#group').after('<span class="error">This field is required</span>');  
            }
            if (address.length < 1) {  
              $('#address').after('<span class="error">This field is required</span>');  
            }   
        }); 
});
    </script>
-->
</body>
</div>
</html>
{%endblock%}