{%extends 'home.html'%}
<html>
{%block content%}
<div class="container">
<head>
    <h1 class="alert-danger text-center">Students Information</h1>
</head>
</div>
<body>
<div class="container">
<table class="table table-bordered">
    <thead>
        <th class="text-center">SL.No.</th>
        <th>Student Name</th>
        <th>Father Name</th>
        <th>Date of Birth</th>
        <th>Year</th>
        <th>Group</th>
        <th>address</th>
        <th>actions</th>
    </thead>
    <tbody>
        {%for i in forms%}
        <tr>
            <td class="text-center">{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.fathername}}</td>
            <td>{{i.dob}}</td>
            <td>{{i.year}}</td>
            <td>{{i.group}}</td>
            <td>{{i.address}}</td>
            <td><a href="{% url 'studupdate' i.id %}"><input type="submit" value="update" class="btn btn-success btn-sm"></a> 
                <a href="{% url 'studentdelete' i.id %}"><input type="submit" value="delete" class="btn btn-danger btn-sm"></a></td>
        </tr>
        {% endfor %}
</tbody>
</table>
</div>
</body>
{% endblock %}
</html>