{%extends 'home.html'%}
{%block content%}
<html>
    <div class="container bg-color-dark">
    <head>
        <h1 class="text-center alert-info">Students Information</h1>
    </head>
    <body>
            <div class="d-flex justify-content-center">
        <form method="post" enctype="multipart/form-data" action="{%url 'studentsreport'%}">
            {%csrf_token%}
            <label style="font-size: 20px;">Select Year:</label>
            <select class="form-select" name="year", id="year">
                <option value="select">Select</option>
                <option value="I Year">First Year</option>
                <option value="II Year">Second Year</option>
            </select><br>
            <label style="font-size: 20px;"> Select Group:</label>
                <select class="form-select" name='group' id="group">
                    <option value="select">Select</option>
                    <option value="MPC">MPC</option>
                    <option value="BPC">BPC</option>
                    <option value="MEC">MEC</option>
                </select>
            </label><br>
            <input class="btn btn-sm btn-outline-success" type="submit" value="Submit">
        </form>
        </div>           
    </body>
    </div>
    </html>
    {%endblock%}
